<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <h1>Diabetes Prediction</h1>
    <form method="post" action="{{url_for('predict_datapoint')}}">
        <input type="text" name="Pregnancies" placeholder="Pregnancies" required>
        <input type="text" name="Glucose" placeholder="Glucose" required>
        <input type="text" name="BloodPressure" placeholder="BloodPressure" required>
        <input type="text" name="SkinThickness" placeholder="SkinThickness" required>
        <input type="text" name="Insulin" placeholder="Insulin" required>
        <input type="text" name="BMI" placeholder="BMI" required>
        <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required>
        <input type="text" name="Age" placeholder="Age" required>
     
        <button type="submit">Predict</button>
    </form>

    <h2>The Diabetes Prediction is {{ "No Diabetes" if result == 0 else "Diabetes" }}</h2>
</body>
</html>